<project name="stage0" version="docear 1.0" ID="16003C4D637F0VOG918RP345T994IXW79NJF">
<folder type="library" name="Library">
<link type="literature_annotations" name="Literature &amp; Annotations" path="project://16003C4D637F0VOG918RP345T994IXW79NJF/_data/16003C4D637F0VOG918RP345T994IXW79NJF/default_files/literature_and_annotations.mm"/>
<link type="file" name="Temp" path="project://16003C4D637F0VOG918RP345T994IXW79NJF/_data/16003C4D637F0VOG918RP345T994IXW79NJF/default_files/temp.mm" system="true"/>
<link type="file" name="Trash" path="project://16003C4D637F0VOG918RP345T994IXW79NJF/_data/16003C4D637F0VOG918RP345T994IXW79NJF/default_files/trash.mm" system="true"/>
</folder>
<folder type="physical" name="My drafts" path="project://16003C4D637F0VOG918RP345T994IXW79NJF/_data/16003C4D637F0VOG918RP345T994IXW79NJF/My%20Drafts/"/>
<folder type="literature_repository" name="Literature repository" system="true">
<folder type="repository_path" name="Papers" path="project://16003C4D637F0VOG918RP345T994IXW79NJF/literature_repository/Papers/Papers/"/>
<folder type="repository_path" name="psycology papers" path="project://16003C4D637F0VOG918RP345T994IXW79NJF/literature_repository/Dropbox/psycology%20papers/"/>
<folder type="repository_path" name="Programming" path="project://16003C4D637F0VOG918RP345T994IXW79NJF/literature_repository/Dropbox/Programming/"/>
<folder type="repository_path" name="maths papers" path="project://16003C4D637F0VOG918RP345T994IXW79NJF/literature_repository/Dropbox/maths%20papers/"/>
</folder>
<link type="references" name="References" path="project://16003C4D637F0VOG918RP345T994IXW79NJF/_data/16003C4D637F0VOG918RP345T994IXW79NJF/default_files/stage0.bib" system="true"/>
</project>
